.titulo {
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    color: greenyellow;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.titulo {
    color: #007bff;
    margin-bottom: 30px;
    text-align: center;
}

div, a {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

a:hover, div:hover {
    background-color: #e0e0e0;
}

.practica2 {
    display: flex;
     background-color: #28a745;
    color: white;
}

.practica5 {
    display: flex;
     background-color: #28a745;
    color: white;
}